/*****************************************************
 * Animation Score Machine CSS
 *****************************************************/
@keyframes spin {
	0%   { background-position:0, 0 0; }
	100%  { background-position:0, 0 -320px; }
}

@-webkit-keyframes spin {
	0%   { background-position:0, 0 0; }
	100%  { background-position:0, 0 -320px; }
    
    
  /*0%   {   left:0px; top:0px; }
    100%   {   left:140px; top:50px; }
    */
/*    
0%   {background: red; left:0px; top:0px;}
25%  {background: yellow; left:200px; top:0px;}
50%  {background: blue; left:200px; top:200px;}
75%  {background: green; left:0px; top:200px;}
100% {background: red; left:0px; top:0px;}
*/
}


body {
	font-family: Arial, Helvetica, sans-serif; 
}

#machine { 
	width: 160px;
	margin:auto; 
	padding:5px;
	overflow:hidden; 
	background-color:#333; 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666666), to(#666666), color-stop(.6,#333)); 
	border-radius:10px; 
}


#machine > div { 
	float:left; 
	width:40px; 
	margin:5px;
	height:30px; 
	background-color:#FFF; 
	background-position:0;
	background-image: 
	-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.6)), to(rgba(0,0,0,.6)), color-stop(.3,rgba(0,0,0,0)), color-stop(.7,rgba(0,0,0,0))), 
	url("../images/blackie.png");
	border-radius:5px; 
	
	-webkit-border-radius:5px; 
	-webkit-box-shadow:0 0 5px #000 inset; 
	
	/* -webkit-animation: spin .7s infinite linear; */
        -webkit-animation-name: spin;
    -webkit-animation-duration: .7s;
    -webkit-animation-timing-function: linear;
}



.test > div {
 	-webkit-animation: none ; 
    animation: none ; 

}
